{% extends 'base.html' %} 

{% load static %}
{% block content %}

<!-- Banner Section-->
<header
    class="banner"
    style="
    background-size: cover;
    background-image: url('{% static 'partials/images/background1.jpg' %}');
    background-position: center center;
  "
>
    <div class="banner__contents">
        <h1 class="display-4 text-center ">Web Ödev Sistemi</h1>
        <small class="lead">Web Geliştirme Departmanı | MAU - Anka</small>
</div>
</header>


<!-- Main Section-->
<main class="container" style="padding-bottom: 100px;">

  <!-- Front-end & Back-end-->
  <section class="main__info">
      <div class="row mt-5">
        <article class="col-12 main__article col-sm-6 text-light text-center p-0 mb-3 mb-sm-0 p-sm-1" id="about" >
          <div class="p-5" style="background-color: #013B79; border-radius: 5px;">  
          <h3>Frontend</h3>
          <p class="text-justify" >Websitelerin en yüzü olan Front-end bölümünde React ile birlikte eğitimler vermekteyiz. 
            Ekimden bu yana her perşembe cuma 14.00 da derslerimizi vermiş bulunmaktayız. Günümüzde de gelişmekte olan 
            Front-end teknolojileri gelecek için çok önem arz etmektedir.</p>
          <h5>Kullanılan Teknolojiler :</h5>
          <ul class="list-inline">
            <li class="list-inline-item"><img src={% static 'partials/images/tech-js.png' %} /></li>
            <li class="list-inline-item"><img src={% static 'partials/images/tech-react.png' %} /></li>
            <li class="list-inline-item"><img src={% static 'partials/images/tech-html.png' %} /></li>
            <li class="list-inline-item"><img src={% static 'partials/images/tech-css.webp' %} /></li>
            <li class="list-inline-item"><img src={% static 'partials/images/tech-bootstrap.svg' %} /></li>
          </ul>
        </div>  
        </article>
        <article class="col-12 main__article col-sm-6 text-dark text-center p-0 mb-3 mb-sm-0 p-sm-1">
          <div class="p-5" style="background-color: #F8F9FA; border-radius: 5px;">
          <h3>Backend</h3>
          <p class="text-justify" >
            Websitelerin işlevlerinin sağlanmasında, güvenlik açıklarında, alışveriş işlemlerinde vb. bir çok olayda görev yapan teknolojidir Back-end. Eğitimimizde Back-end teknolojisi olarak Spring Boot framework ünü kullanıyoruz. Halihazırda gelişmekte olan ve hemen hemen her dilde teknolojisi olan bir web alanıdır.
          </p>
          <h5>Kullanılan Teknolojiler :</h5>
          <ul class="list-inline">
            <li class="list-inline-item"><img src={% static 'partials/images/tech-java.png' %} /></li>
            <li class="list-inline-item"><img src={% static 'partials/images/tech-spring.png' %} /></li>
            <li class="list-inline-item"><img src={% static 'partials/images/tech-jpa.png' %} /></li>
            <li class="list-inline-item"><img src={% static 'partials/images/tech-postgres.png' %} /></li>
            <li class="list-inline-item"><img src={% static 'partials/images/tech-api.png' %} /></li>
          </ul>
        </article>
      </div>
  </div>
  </section>

  <hr class="main__divider">


  <!-- About us section
  <section class="main__about">
    <div class="row">
      <article class="col-md-7 about__text order-2 order-md-1">
        <h2 class="about__heading">Orkun Kurul</h2>
        <p class="text-muted">Back-end developer</p>
        <p class="lead text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab exercitationem nostrum quidem id facere blanditiis ad dolorum eius incidunt qui.
        </p>
        <ul class="list-inline">
          <li class="list-inline-item"> <a href="https://github.com/Razortype" target="_blank"> <img src={% static 'partials/images/social-github.png' %} alt="github-logo" width="30" height="30"></a> </li>
          <li class="list-inline-item"> <a href="https://www.linkedin.com/in/orkun-kurul/" target="_blank"> <img src={% static 'partials/images/social-linkedin.webp' %} alt="linkedin-logo" width="30" height="30"></a>
          <li class="list-inline-item"> <a href="https://www.youtube.com/@orkunkurul2770" target="_blank"> <img src={% static 'partials/images/social-youtube.png' %} alt="youtube-logo" width="30" height="30"></a>
          <li class="list-inline-item"> <a href="mailto:orkun.kurul@gmail.com" target="_blank"> <img src={% static 'partials/images/social-gmail.png' %} alt="gmail-logo" width="30" height="30"></a>
        </ul>
      </article>
      <figure class="col-md-5 order-1 order-md-2" style="text-align: center;">
        <img class="img-fluid mx-auto rounded-circle about__image" src={% static 'partials/images/orkun.jpeg' %} alt="photo" width="350" height="350">
      </figure>
    </div>

    <hr class="main__divider">

    <div class="row">
      <article class="col-md-7 about__text order-2">
        <h2 class="about__heading">Fatih Bahadır</h2>
        <p class="text-muted">Front-end developer</p>
        <p class="lead text-justify" >
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab exercitationem nostrum quidem id facere blanditiis ad dolorum eius incidunt qui.
        </p>
        <ul class="list-inline">
          <li class="list-inline-item"> <a href="https://www.github.com/fatihbahadir" target="_blank"> <img src={% static 'partials/images/social-github.png' %} alt="github-logo" width="30" height="30"></a> </li>
          <li class="list-inline-item"> <a href="https://www.linkedin.com/in/fatihbahadir/" target="_blank"> <img src={% static 'partials/images/social-linkedin.webp' %} alt="linkedin-logo" width="30" height="30"></a>
          <li class="list-inline-item"> <a href="https://www.youtube.com/@fatihbahadr5916" target="_blank"> <img src={% static 'partials/images/social-youtube.png' %} alt="youtube-logo" width="30" height="30"></a>
          <li class="list-inline-item"> <a href="mailto:hunkarhyme@gmail.com" target="_blank"> <img src={% static 'partials/images/social-gmail.png' %} alt="gmail-logo" width="30" height="30"></a>
        </ul>
      </article>
      <figure class="col-md-5 order-1" style="text-align: center;">
        <img class="img-fluid mx-auto rounded-circle about__image" src="https://media.licdn.com/dms/image/D4D03AQF_abvNi41kdQ/profile-displayphoto-shrink_800_800/0/1670189440682?e=1677715200&v=beta&t=WljlP1LZ0wytH_ap_E43rU_BuBiO4jpWgeD3VsRodgw" alt="photo" width="350" height="350">
      </figure>
    </div>
  </section>

  <hr class="main__divider">

  -->

  <!-- Footer -->

</main>

<footer
class="text-center text-lg-start  footer__container"
style="background-color: #3e4551"
>
<div
class="text-center p-1 p-sm-2 text-light"
>
© 2022 Copyright: Developed by 
<a class="text-pink font-weight-bold" href="https://github.com/Razortype"
>Razortype</a> & <a class="text-pink font-weight-bold" href="https://github.com/fatihbahadir">fatihbahadir</a>
</div>
</footer>

{% endblock %}
