{% extends 'base.html' %}

{% block content %}

<div class="forgot__container" style="min-height: 100vh; background-size: cover;
background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');
background-position: center center;
display: flex;
align-items: center;
color: white;
justify-content: center;
">
    <div class="forgot__form p-4 mx-auto p-sm-5" style="background-color: rgba(4,88,146,0.5) !important;
    border-radius: 0.25rem;
    ">
        <h1>Şifremi Unttum | Yeni Şifre</h1>

        <h5 class="py-3">
            Merhaba, {{ person_content.name }} {{ person_content.surname }} ({{ person_content.user.username }}), <br>
            Lütfen yeni şifrenizi giriniz:
        </h5>
        
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Giriş Yap" class="btn btn-primary btn-block mt-3">
        </form>

    </div>

</div>

{% endblock content %}