{% extends 'base.html' %}

{% block content %}

<div class="token__container" style="
background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');

">
<div class="form__container">
    <div class="token__form p-4  mx-2  p-sm-5">
        <h2 class="text-center mb-3">Şifremi Unuttum | Token</h2>
        
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <label for="{{  "id_"|add:field.name }}">{{ field.label }}:</label>
                <input class="form-control" type="text" maxlength="6" name="{{ field.name }}" required id="{{  "id_"|add:field.name }}">
            </div>
            {% endfor %}
            <input type="submit" value="Onaylat" class="btn btn-primary btn-block mt-3">

        </form>

    </div>
</div>
</div>

{% endblock content %}