{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="register__container" style="
background-image: url('{% static 'partials/images/background1.jpg' %}');">    
<div class="form__container">
<div class="form-area p-2 p-sm-5 my-5 my-sm-0">
    <div class="register__form mt-5 mt-sm-0 p-3 p-sm-5 container w-100">
        <h2 class="text-center mb-3 mt-4 mt-sm-0">Web | Ödev Sistemi</h2>
        <form id="signupForm" method="POST">
            <div class="form-row">
                {% csrf_token %}
                    {% for field in user_form %} 
                    {% if field.name == "password1" or field.name == "password2" %}
                    <div class="form-group col-md-6">
                        <label for="{{  "id_"|add:field.name }}">{{ field.label }}:</label>
                        <input class="form-control" type="password" name="{{ field.name }}" maxlength="20" required id="{{  "id_"|add:field.name }}">
                    </div>
                    {% elif field.name == "email" %}
                    <div class="form-group col-md-6">
                        <label for="{{  "id_"|add:field.name }}">{{ field.label }}:</label>
                        <input class="form-control" type="email" name="{{ field.name }}" maxlength="254" required id="{{  "id_"|add:field.name }}">
                    </div>

                    {% else %}
                    <div class="form-group col-md-6">
                        <label for="{{  "id_"|add:field.name }}">{{ field.label }}:</label>
                        <input class="form-control" type="text" name="{{ field.name }}" maxlength="20" required id="{{  "id_"|add:field.name }}">
                    </div>
                    {% endif %}
                    {% endfor %}


                    {% for field in person_form %}
                    {% if field.name == "age" %}
                   
                    <div class="form-group col-md-6">
                        <label for="{{  "id_"|add:field.name }}">{{ field.label }}:</label>
                        <input class="form-control" type="number" min="1" max="99" name="{{ field.name }}" required id="{{  "id_"|add:field.name }}">
                    </div>

                    {% elif field.name == "github_url" %}

                    <div class="form-group col-md-6">
                        <label for="{{  "id_"|add:field.name }}">{{ field.label }}:</label>
                        <input class="form-control" type="url" name="{{ field.name }}"  maxlength="200" required id="{{  "id_"|add:field.name }}">
                    </div>

                    {% else %}

                    <div class="form-group col-md-6">
                        <label for="{{  "id_"|add:field.name }}">{{ field.label }}:</label>
                        <input class="form-control" type="text" name="{{ field.name }}"  maxlength="50" required id="{{  "id_"|add:field.name }}">
                    </div>
                    {% endif %}
                    {% endfor %}
            </div>
            <input class="btn btn-primary btn-block mt-3" value ="Kayıt Ol" type="submit">

            <p class="mt-3 small text-center">Zaten bir hesabınız var mı ? 
                <a class="text-light register__redirect" href="/login">Giriş Yapın</a> !
            </p>
        </form>
    </div>
    </div>


</div>
</div>

</div>
{% endblock %}