{% extends 'base.html' %}

{% block content %}

<div class="main__container" >
<div class="container video__container">
    <div class="accordion" id="accordionVideos">
        {% for video in videos %}
        <div class="accordion-item">
        <div>
            <h2 class="link__container">
              <button class="accordion__button btn btn-link {% if forloop.counter0 != 0 %} collapsed {% endif %}" type="button" data-toggle="collapse" data-target="#collapse{{ video.video_id }}" aria-expanded="{% if forloop.counter0 == 0 %} true {% else %} false {% endif %}" aria-controls="collapse{{ video.video_id }}">
                {% if video.name|length > 23  %} {{ video.name|truncatechars:20 }} {% else %} {{ video.name }} {% endif %}  <span class="video__badge badge badge-secondary ml-2  p-1" style="--category-color: #{{ video.category.color }};">{{ video.category.name }}</span>
            </button>
            </h2>
            <div id="collapse{{ video.video_id }}" class="collapse {% if forloop.counter0 == 0 %} show {% endif %}" data-parent="#accordionVideos">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.video_id }}" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>

        {% endfor %}
    
    </div>
  </div>
      
</div>

{% endblock content %}

