.alert__container{
    padding: 20px;
    z-index: 998;
    position: fixed;
    top: 10vh;
    right: 1vw !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 30%;
    max-height: 100vh !important;
    overflow: scroll;
    overflow-x: hidden !important;

}
.alert__message{
    padding-right: 1rem;
    z-index: 999;
    border: none !important;
    border-radius: 20px !important;
    padding: 1.5rem;
}

@media (max-width: 767.98px) { 
    .alert__container{
        padding-top: 0 !important;
        min-width: 70% !important;
        max-height: 100vh !important;
        font-size: 15px;
    }
 }
