#preloader {
    background: #ffc9bb;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 99999;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

#preloader img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    border-radius: 50%;
}

body{
    position: relative;
}

.code-block {
    position: relative;
    padding: 10px;
    background-color:   #ffccbf;
    white-space: pre;
    border-radius: 5px;
    overflow: scroll;
    margin: 20px 0px;
}

.code-block code {
    font-family: monospace;
    font-weight: bold;
    color:#4e84be;
}