#header__person_buttons{
  margin-left:auto;
}



.header__userInfo{
    border-radius:100%;
    width:40px ;
    height:40px;
    text-align:center;
    margin-left:10px !important;
    background-color:#FCB3A0;
}

.header__userInfo > a > p {
    color:#343A3F !important;
    font-weight:bold;
}

.dropdown-toggle::after {
    display:none;
}

.header__list{
    margin-left:auto;
}

.header__link{
    color:white !important;
}

.bg-transparent{
    background-color:transparent !important;
}

.bg-darkblue{
    background-color: #446E9C;
}

.navbar{
    z-index:1;
    transition-timing-function:ease-in;
    transition:all 0.3s;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler{
    border: none !important;
}

.text-light{
    transition-timing-function:ease-in;
    transition:all 0.3s;
}