::-webkit-scrollbar {
        display: none;
}

.banner{
    color:white;
    object-fit: contain;
    height: 70vh;
}

.banner__contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh !important;
}

