.form-control{
    margin-bottom: .5rem !important;
}
.forgot__container{
    background-position: center center;
    background-size: cover;
}
.form__container{
    background: rgba(0, 0, 0, 0.3);
    min-height: 100vh; 
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}
.forgot__form{
    background-color: rgba(4,88,146,0.5) !important;
    border-radius: 0.25rem;
}