.form-control{
    margin-bottom: .5rem !important;
}

.login__container{
    background-size: cover !important;
    background-position: center center !important; 
}

.form__container{
    min-height: 100vh;
    background:rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.login__form{
    background-color: rgba(4,88,146,0.5) !important;
    border-radius: 0.25rem;
}

.login__redirect{
    font-weight: bold;
}