<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="fixed-bottom">
    <!-- Footer -->
    <footer
            class="text-center text-lg-start  footer__container"
            style="background-color: #3e4551"
            >
      <div
           class="text-center p-1 p-sm-2 text-light"
           >
        © 2022 Copyright: Developed by 
        <a class="text-pink font-weight-bold" href="https://github.com/Razortype"
           >Razortype</a> & <a class="text-pink font-weight-bold" href="https://github.com/fatihbahadir">fatihbahadir</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->