{% extends 'base.html' %}

{% load post_extras %}

{% block content %}

<div class="py-5 mt-5" >
<div id="mySidebar" class="sidebar mt-5 ">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/homeworks" class="{% if request.path == '/homeworks' %}active{% endif %}">Hepsi</a>

    {% for category in categories %}
    <a href="/homeworks/{{ category.name }}" class="{% if request.path|endswith:category.name %}active{% endif %}">
        {{ category.name }}
    </a>
    {% endfor %}
                

  </div>
  
  <div id="main">
    <button class="openbtn" onclick="openNav()">☰ Open Sidebar</button>  
    {% for homework in homeworks %}
    <a href="/homeworks/id/{{ homework.id }}" class="list-group-item list-group-item-action flex-column align-items-start bg-light">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ homework.name }}</h5>
            <span class="badge badge-info pt-2">{{ homework.category.name }}</span>
        </div>
        <p class="mb-1 mt-3">{{ homework.description }}</p>
        <hr>
        <div class="d-flex">
            <p>Başlama Tarihi : {{ homework.start_at }}</p>
            <hr>
            <p>Bitiş Tarihi : {{ homework.expired_date }}</p>
        </div>
    </a>
    {% endfor %}

</div>


  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    </script>
  {% endblock %}