{% extends 'base.html' %}

{% load post_extras %}
{% load static %}

{% block content %}
<div style="margin-top: 56px; width: 100%;" class="pb-5" >
<div class="container">
<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/homeworks" class="{% if request.path == '/homeworks' %}aside__active{% endif %} homework__category">Hepsi</a>

    {% for category in categories %}

    <a href="/homeworks/{{ category.name }}" class="{% if request.path|endswith:category.name %}aside__active{% endif %} homework__category" style="--line-color: #{{ category.color }};">
        {{ category.name }}
    </a>

    {% endfor %}
                

  </div>
  
  <div id="main">
    <button class="openbtn " onclick="openNav()">☰ Ödev Tipi</button>  
        
        {% if homeworks %}
    
        {% for homework in homeworks %}
        <a href="/homeworks/id/{{ homework.id }}/detail" class="homework__card card mt-5 p-4 btn {% if homework.check_expired %}disabled{% endif %} text-left" style="position: relative;">
          {% if homework.category.name %}
          <span class=" text-light rounded p-2 small" style="background-color: #{{ homework.category.color }}; position: absolute; top: -17.6px; left: 10px;"> {{ homework.category.name }} </span>
          {% endif %}
          <h3 class="font-bold text-dark text-center" style="text-transform: uppercase; letter-spacing: 1px;"> {{ homework.name }} </h3>
          <p class="text-primary"> {{ homework.description }} </p>

          <div class="homework__date text-muted small">
            <p><img src="https://www.pngmart.com/files/8/Schedule-Transparent-Images-PNG.png" width="20" height="20" />  {{ homework.start_at }} </p>
            <p><img src="https://www.pngmart.com/files/17/Caution-Warning-Transparent-Background.png" width="20" height="20" />  {{ homework.expired_date }} </p>
          </div>
        </a>

        {% endfor %}

        {% else %} 
        <div class="d-flex align-items-center justify-content-center " style="flex-direction: column;">
          <img class="homework__gif" src={% static 'posts/images/homework_not_found.gif' %} > 
          <div style="background-color: #D4C2FF; color: black; border: none; font-size: 1.5rem;" class="alert homework__alert"> Henüz bir şey yok</div>
        </div>
      
        {% endif %}

</div>
</div>


  <script>
    function openNav() {
      if(window.innerWidth<576){
      document.getElementById("mySidebar").style.width = "100%";
      }
      else{
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }
    }
    
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft= "0";
    }
    </script>
  {% endblock %}