{% extends 'base.html' %}

{% block content %}

<div class="mb-5 py-5">

    <!-- MAIN AREA -->

    <div class="container mt-5">
       <div class="card shadow-sm">
        <div class="card-header">
            <h3 class="card-title">{{ homework.name }}</h3>
            <p class="card-subtitle text-muted text-center" style="margin-top: -15px;font-family: monospace;">{{ homework.category }} </p>
        </div>
        <div class="card-body">
            <p class="card-text" style="font-family: Arial, Helvetica, sans-serif;">
                {{ homework.description }}
            </p>
        </div>
        <div class="card-footer">
            <p><img class="mr-1" src="https://www.pngmart.com/files/8/Schedule-Transparent-Images-PNG.png" width="25" height="25" /> Başlangıç: <strong class="text-success"> {{ homework.start_at }}  </strong> </p>
            <p><img class="mr-1" src="https://www.pngmart.com/files/17/Caution-Warning-Transparent-Background.png" width="25" height="25" /> Son Tarih:<strong class="text-danger">  {{ homework.expired_date }} </strong>  </p>
        </div>

       </div>
    </div>


    <!-- DETAIL AREA-->
    <div class="container mt-5 mb-5">
        <div class="card shadow-sm p-4">
            <h3 class="card-title">Detaylar</h3>
            {% for detail in details %}
                <div class="card p-3 mt-4">
                        <span class="card__icon"><img src="https://www.freeiconspng.com/thumbs/details-icon/details-icon-png-cc-by-3-0--it-1.png" width="30" height="30"></span>
                        {% if detail.detail_risk == 'N' %}
                            <h5 class="text-primary"> {{ detail.detail_name }}
                                 <span class="badge badge-primary rounded">Normal</span> 
                            </h5>

                        {% elif detail.detail_risk == "L" %}
                            <h5 class="text-secondary"> {{ detail.detail_name }}
                                <span class="badge badge-secondary rounded">Low</span> 
                            </h5>
                        {% else %}
                        <h5 class="text-danger"> {{ detail.detail_name }}
                            <span class="badge badge-danger rounded">High</span> 
                        </h5>                        
                        {% endif %}

                    <div class="card-text">
                     {{ detail.detail_description }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- POST AREA -->    
    <div class="container mt-5 mb-5">
        <div class="card shadow-sm p-4">
        {% if personpost %}

            <h3 class="card-title">Paylaştığın Ödev</h3>
            <small class="text-center text-muted" style="margin-top: -10px;">{% now "j F Y" %} (today)</small>
         
            
            <form action={% url 'post_update' homework.pk personpost.pk %} method='POST'>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group mt-3">
                    <label class="input__label" for="{{  "id_"|add:field.name }}">{{ field.label }}:</label>
                    <input class="form-control" aria-describedby="inputHelp" type="url" maxlength="100" name="{{ field.name }}" required id="{{  "id_"|add:field.name }}">
                    <small id="inputHelp" class="form-text text-secondary">
                        Göndermiş olduğunuz ödevi güncellemek için yeni ödev adresinin url ini giriniz.
                    </small>
                </div>
                {% endfor %}
                <input name="updte" type="submit" value="Güncelle" class="btn btn-outline-primary btn-block mt-3">
            </form>
            <button class="btn btn-outline-danger mt-1" onclick="document.location.href='{% url 'post_delete' homework.pk personpost.pk %}'">Postu Sil</button>
        
        {% else %}

            <h3 class="card-title">Ödevini Paylaş</h3>
            <form action={% url 'post_new' homework.pk %} method='POST'>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group mt-3 ">
                    <label class="input__label" for="{{  "id_"|add:field.name }}">{{ field.label }}:</label>
                    <input class="form-control" aria-describedby="inputHelp" type="url" maxlength="100" name="{{ field.name }}" required id="{{  "id_"|add:field.name }}">
                    <small id="inputHelp" class="form-text text-secondary">
                        Ödevinizi github urli şeklinde paylaşmanız gerekmektedir. (örn: https://github.com/User/~)
                    </small>
                </div>
                {% endfor %}
                <input name="submit" type="submit" value="Gönder" class="btn btn-outline-dark btn-block mt-3">
            </form>
            
        {% endif %}
        </div>
        </div>



    <!-- Table -->
    <div class="container">
        <div class="card shadow-sm ">
            <div class="card-body">
                <h4 class="card-title">
                    Gönderilen Ödevler
                </h4>

                {% if posts %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>İsim</th>
                                <th>Tarih</th>
                                <th>Proje (url)</th>
                                <th>Github</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in posts%}
                            <tr>
                                <td>{{ post.person.name }} {{ post.person.surname }}</td>
                                <td>{{ post.post_at }}</td>
                                <td><a href="{{ post.post_url }}" target="_blank" class="text-decoration-none text-info">{{ post.post_url }}</a></td>
                                <td><a class="badge badge-primary" href='{{ person.github_url }}' target="_blank"> Github Profili </a> </td>

                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <!-- sok offfgghh >.< -->
                <!-- Tam olarak nasıl olur bilmiyorum ama detaylarda html kodu yazabilmemiz şart -->
                <div class="alert alert-warning mt-3 text-center">Kimse ödevini göndermedi. İlk gönderen sen ol  ^-^ </div>
                {% endif %}
            </div>
        </div>
    </div>

    
</div>

</div>

{% endblock %}